@import "./variables";

.ng-select-lg {
  .ng-select-container {
    height: 3.2em !important;
    .ng-placeholder {
      margin: inherit !important;
    }
    .ng-value-container .ng-input {
      height: 100%;
      display: flex;
      align-items: center;
      top: 0 !important;
    }
  }
  .ng-value {
    padding: 0.3em 0.8em !important;
    border-radius: var(--bs-border-radius) !important;
  }
}

.ng-dropdown-footer:hover {
  background-color: $primary-100;
}
