// required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@import "./variables";

// Define custom colors for bootstrap
$custom-colors: (
  "primary-50": $green-50,
  "primary-100": $green-100,
  "primary-200": $green-200,
  "primary-300": $green-300,
  "primary-400": $green-400,
  "primary-500": $green-500,
  "primary-600": $green-600,
  "primary-700": $green-700,
  "primary-800": $green-800,
  "primary-900": $green-900,
  "primary-950": $green-950,
  "gray-00": $gray-00,
  "gray-50": $gray-50,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "gray-950": $gray-950,
  "blue-50": $blue-50,
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900,
  "blue-950": $blue-950,
  "violet-50": $violet-50,
  "violet-100": $violet-100,
  "violet-200": $violet-200,
  "violet-300": $violet-300,
  "violet-400": $violet-400,
  "violet-500": $violet-500,
  "orange-500": $orange-500,
  "violet-600": $violet-600,
  "violet-700": $violet-700,
  "violet-800": $violet-800,
  "violet-900": $violet-900,
  "violet-950": $violet-950,
  "yellow-50": $yellow-50,
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900,
  "yellow-950": $yellow-950,
  "red-50": $red-50,
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900,
  "red-950": $red-950,
  "pink-50": $pink-50,
  "pink-100": $pink-100,
  "pink-200": $pink-200,
  "pink-300": $pink-300,
  "pink-400": $pink-400,
  "pink-500": $pink-500,
  "pink-600": $pink-600,
  "pink-700": $pink-700,
  "pink-800": $pink-800,
  "pink-900": $pink-900,
  "pink-950": $pink-950,
  "teal-50": $teal-50,
  "teal-100": $teal-100,
  "teal-200": $teal-200,
  "teal-300": $teal-300,
  "teal-400": $teal-400,
  "teal-500": $teal-500,
  "teal-600": $teal-600,
  "teal-700": $teal-700,
  "teal-800": $teal-800,
  "teal-900": $teal-900,
  "teal-950": $teal-950
);

$theme-colors: (
  "primary": $primary-500,
  "secondary": $gray-500,
  "success": $green-500,
  "info": $blue-500,
  "warning": $yellow-500,
  "danger": $red-500,
  "light": $light,
  "dark": $dark
);

// Merge colour maps so that the keys will be used in the mixins to create utility classes
$theme-colors: map-merge($theme-colors, $custom-colors);
