@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

:root {
  // Font sizes
  // https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=396&minRatio=1.25&maxFontSize=19&maxWidth=1921&maxRatio=1.333&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=lg&prefix=fs&decimals=2&useRems=on&remValue=16&previewFont=Inter
  --fs-xl: clamp(1.95rem, 0.9vw + 1.73rem, 2.81rem);
  --fs-l: clamp(1.56rem, 0.57vw + 1.42rem, 2.11rem);
  --fs-m: clamp(1.25rem, 0.35vw + 1.16rem, 1.58rem);
  --fs-ms: clamp(1rem, 0.2vw + 0.95rem, 1.19rem);
  --fs-s: clamp(0.8rem, 0.1vw + 0.78rem, 0.89rem);
  --fs-xs: clamp(0.64rem, 0.03vw + 0.63rem, 0.67rem);
  --fs-xxs: clamp(0.51rem, -0.01vw + 0.51rem, 0.5rem);

  // Different vars
  --border-radius: 6px;

  // This border radius for the inside element of a dropdown can unfortunately not be set as a scss variable
  --bs-dropdown-item-border-radius: #{$border-radius-sm};
}

$white: #ffffff !default;
$black: #000000 !default;

$gray-00: #fefefe; // gray-xxlight
$gray-50: #fafafa;
$gray-100: #f5f5f5; // gray-xlight
$gray-200: #e5e5e5; // gray-light
$gray-300: #d4d4d4; // gray
$gray-400: #a3a3a3; // gray-medium
$gray-500: #737373;
$gray-600: #525252;
$gray-700: #404040; // gray-dark
$gray-800: #262626;
$gray-900: #171717;
$gray-950: #0a0a0a;

$blue-50: #edf5fa;
$blue-100: #e6f1f9; // blue-xxlight
$blue-200: #aed6f2;
$blue-300: #7abceb; // blue-xlight
$blue-400: #439ad7; // blue-light
$blue-500: #005b9c; // blue
$blue-600: #004a80;
$blue-700: #00406c; // blue-dark
$blue-800: #002d4d;
$blue-900: #001e33;
$blue-950: #000f1a;

$violet-50: #d4cff3;
$violet-100: #bcb4e8;
$violet-200: #a89de4;
$violet-300: #8779d3;
$violet-400: #7264c0;
$violet-500: #5c4dab;
$violet-600: #453888;
$violet-700: #372b71;
$violet-800: #2e2362;
$violet-900: #211949;
$violet-950: #161133;

$orange-500: #f6bf38;

$green-50: #dfeff0;
$green-100: #c1e1e3; // primary-xxlight
$green-200: #9fd2d4;
$green-300: #57abae; // primary-xlight
$green-400: #309396; // primary-light
$green-500: #0e686b; // primary
$green-600: #0a5e61;
$green-700: #035457; // primary-dark
$green-800: #024547;
$green-900: #073233;
$green-950: #00191a;

$red-50: #faeae8;
$red-100: #ffd7d1;
$red-200: #ffb9b0;
$red-300: #ff9284; // red-light
$red-400: #ff7664;
$red-500: #fc5a45; // red
$red-600: #b22d1b; // red-dark
$red-700: #80251a;
$red-800: #611c13;
$red-900: #470800;
$red-950: #2e0500;

$yellow-50: #fcf0d4;
$yellow-100: #ffe8b1;
$yellow-200: #ffde8f;
$yellow-300: #ffd36c;
$yellow-400: #ffc94a;
$yellow-500: #ffbf27; // yellow
$yellow-600: #c8961f; // yellow-dark
$yellow-700: #997217;
$yellow-800: #6b5010;
$yellow-900: #47360e;
$yellow-950: #2e2000;

$pink-50: #faedf4;
$pink-100: #fcd9ea; // pink-xxlight
$pink-200: #fcc2ee;
$pink-300: #fca2e5;
$pink-400: #fd8de0;
$pink-500: #ef5da8; // pink
$pink-600: #cc3d87;
$pink-700: #992e65;
$pink-800: #661f43;
$pink-900: #45152e;
$pink-950: #2e0e1e;

$teal-50: #edf9fa;
$teal-100: #d7f4f5;
$teal-200: #baf5f7;
$teal-300: #9ff2f5;
$teal-400: #7fe7eb;
$teal-500: #45d8dc; // teal
$teal-600: #26a7ab; // teal-dark
$teal-700: #1a7c80;
$teal-800: #12595c;
$teal-900: #074547;
$teal-950: #002c2e;

$primary-50: $green-50;
$primary-100: $green-100;
$primary-200: $green-200;
$primary-300: $green-300;
$primary-400: $green-400;
$primary-500: $green-500;
$primary-600: $green-600;
$primary-700: $green-700;
$primary-800: $green-800;
$primary-900: $green-900;
$primary-950: $green-950;

// button variables
$btn-transition:
  color 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  border-color 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out;

// form input variables
$input-bg: $gray-100;
$input-disabled-bg: $gray-200;
$input-btn-focus-color: $gray-100;
$input-focus-border-color: $gray-100;
$input-btn-focus-width: 1px;

// component variables
$component-active-bg: $primary-500;

// Shadows
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1920px
);

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.65,
  4: $spacer,
  5: $spacer * 1.5,
  6: $spacer * 3,
  7: $spacer * 5
);

$btn-padding-x: 1.5em;
$btn-padding-y: 0.7em;

$btn-padding-x-lg: 2rem;
$btn-padding-y-lg: 1rem;

// Accordion styling
$accordion-color: $black;
$accordion-button-active-bg: tint-color($primary-500, 90%);
$accordion-button-active-color: shade-color($primary-500, 10%);

$accordion-button-focus-border-color: $primary-500;
$accordion-button-focus-box-shadow: none;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary-500}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary-500}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

// Dropdown styling
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $primary-500;

// Popover styling
$popover-header-color: $black;

// Pagination styling
$pagination-color: $gray-600;
$pagination-hover-color: $gray-700;
$pagination-hover-bg: $gray-200;
$pagination-active-bg: $primary-500;
$pagination-active-border-color: $pagination-active-bg;
$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: #ffffff00;
$pagination-disabled-border-color: #ffffff00;

// lg is used for xxxl screen breakpoints and the mobile navigation
$nav-width-lg: 290px;

// sm is used for all other smaller resolutions, but not mobile
$nav-width-sm: 240px;

$dropdown-item-padding-y: $spacer * 0.75;
$dropdown-link-hover-bg: $primary-100;
$dropdown-padding-y: $spacer * 0.25;
$dropdown-padding-x: $spacer * 0.25;
